<!--  navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        <span class="navbar-text"><%= link_to "Vacation Planner", root_path %></span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           <!--  nav here -->
           <% if user_signed_in? %>
              <span class="navbar-text"><li>Welcome, <%=current_user.email%>!</li></span>
              <span class="navbar-text"><li><%= link_to 'create new trip', new_trip_path  %></li></span>
              <span class="navbar-text"><li><%= link_to 'view trips', trips_path  %></li></span>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <span class="navbar-text"><li>Hello Guest!</li></span>
              <span class="navbar-text"><li><%= link_to 'Sign in', new_user_session_path  %></li></span>
              <span class="navbar-text"><li><%= link_to 'Sign up', new_user_registration_path %></li></span>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
